/* Header.css (add or adjust styles as needed) */

.speedDialIcon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 220px;
    top: 150px;
    font-size: 44px;
  }
  
  .speedDialAction {
    transition: background-color 0.3s, transform 0.3s;
    font-size: 44px;
  }
  
  .speedDialAction:hover {
    background-color: #aff08a; /* Add a subtle background color on hover */
    transform: scale(1.1); /* Scale the icon slightly on hover */
  }
  
  .tooltipTitle {
    font-weight: bold;
    font-size: 44px;
  }
  